<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>

        <div class="top" style="background-image: url({{ url_for('static', filename='images/picRedHat.jpg')}})">
            <div class="budget" >

                <div class="budget__value">Bug Hunter!</div>
                <div class="description">this tool identify outomatically the cause and the flow of a test failure of Red Hat virtualization product.</div><br>

                <div class="uploads">
                    <!--Engine file:  <input  class="upload_txt1" type="file">-->
                    <!--<button class="upload_btn1" type="button">Uaplod</button><br><br>-->
                    <!--Art-log file: <input  class="upload_txt2" type="file" value="write path here">-->
                    <!--<button class="upload_btn2" type="button">Upload</button><br><br>-->
                     <!--VDSM file: &nbsp <input  class="upload_txt3" type="file" value="write path here">-->
                    <!--<button class="upload_btn3" type="button">Upload</button><br><br>-->
                    <!--<button class="analyze" type="button">start analyze</button>-->
                    <form id="engine_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Enter Engine File:  <input type = "file" name = "file1" accept="logfiles/" multiple/><br><br>
                    <form id="engine_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Enter Art-Log File: <input type = "file" name = "file2" accept="logfiles/" multiple/><br><br>
                    <form id="first" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Enter VDSM-1 File: <input type = "file" name = "file1" accept="logfiles/" multiple/><br><br>
                    <form id="second" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Enter VDSM-2 File: <input type = "file" name = "file2" accept="logfiles/" multiple/><br><br>
                    <form id="first" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Enter VDSM-3 File: <input type = "file" name = "file1" accept="logfiles/" multiple/><br><br>
                        <input  style="width: 120px; height: 40px; border-radius: 12px; font-size: 20px" type = "submit" value="upload" />
                </div>
            </div>
        </div>

        <div class="bottom">
            <textarea readonly wrap="hard" style="background-color: #ccccb3" rows="100" cols="210"></textarea>
        </div>

        <script src="app.js"></script>
    </body>
</html>