<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/out.css')}}">
    </head>
    <body style="background-image: url({{ url_for('static', filename='images/picRedHat.jpg')}})">

        <div>
            <div class="budget" >

                <div class="budget__value">Bug Hunter!</div>
                <div class="description" align="center">this tool identify outomatically the cause and the flow of a test failure of Red Hat virtualization product.</div><br>

                <div class="uploads">
                    <form id="engine_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Engine File:  <input type = "file" name = "file1" accept="logfiles/" multiple/><br><br>
                    <form id="artlog_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        Art-Log File: <input type = "file" name = "file2" accept="logfiles/" multiple/><br><br>
                    <form id="vdsm1_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        VDSM-1 File: <input type = "file" name = "file3" accept="logfiles/" multiple/><br><br>
                    <form id="vdsm2_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        VDSM-2 File: <input type = "file" name = "file4" accept="logfiles/" multiple/><br><br>
                    <form id="vdsm3_up" action="{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data"/>
                        VDSM-3 File: <input type = "file" name = "file5" accept="logfiles/" multiple/><br><br>
                       <input class="button" type = "submit" value="Run Bug Hunter!"/>
                </div>
            </div>
        </div>
    </body>
</html>